@import "font.less";
@import "bootstrap.less";

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background: #000;
}

.game-field {
    background: #000;
    display: block;
    margin: 0px auto;
    width: 640px;
    height: 640px;

    canvas {
        margin-top: 80px;
    }
}

.dropdown-menu > li > a {
    position: relative;
    padding-right: 110px;

    & small {
        color: @gray-light;
        position: absolute;
        top: 5px;
        right: 20px;
    }
}