$primary: #bb2200
$navbar-dark-color: rgba(#fff, .8)
$navbar-dark-hover-color: rgba(#fff, .9)

@import "~bootstrap/scss/bootstrap"


html
  height: 100%


body
  position: relative
  min-height: 100%
  overflow: hidden


a
  cursor: pointer


#container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #000
  overflow: hidden


.content
  position: absolute
  top: $nav-link-height + 2 * $nav-link-padding-y
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

  > canvas
    position: relative
    width: 100%
    height: 100%
